header { 
  box-shadow: 0 2px 10px 0 $border-color; 
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: xx-large;
    font-weight: bold;
    line-height: 1;
  }
  .menus button {
    @extend %btn;
    padding: 0 !important;
    height: 28px;
    width: 28px;
    background-color: lighten($color: $amber-color, $amount: 10%);
  }
}