/* importing css files */
@import url('./css/header.css');
@import url('./css/footer.css');
* {
  padding: 0;
  margin: 0;
  list-style: none; 
  text-decoration: none;
  letter-spacing: .75px; 
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar { display: none; }
img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* container */
.container {
  max-width: 1250px;
  margin: auto;
  padding: 12px;  
}
p {
  display: block;
  font-size: 13px;
}

/* Section */
section { min-height: 59.5vh; }

/* cart container */
.cart__container {
  height: 100vh;
  width: 300px;
  position: fixed;
  background-color: antiquewhite;
  right: 0;
  transition: ease-in-out 250ms;
  transform: translateX(100%);
}

/* books container */
.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
  grid-gap: 12px;
}
.book, .book .book__content {
  overflow: hidden;
  transition: ease-in-out 250ms;
}
.book .book__img { 
  /* height: 200px; */
  min-height: 100px; 
  background-color: rgb(128 128 128 / 50%);
  position: relative;
}
.genre {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 3px;
}
.genre div {
  font-size: 10px;
  line-height: 1;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #1D3557;
  color: white;
}
.book .book__img button {
  position: absolute;
  top: 6px;
  left: 6px;
  outline: none;
  border: none;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background-color: #FFBF00;
  color: white;
  cursor: pointer;
}
.book .book__img .stock {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 4px 10px;
  background-color: antiquewhite;
  font-size: 10px;
  font-weight: 500;
  border-radius: 10px;
}
.book .book__title {
  line-height: 1;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.book p { 
  font-size: 12px !important;
  line-height: 1;
  font-weight: 500;
}
.book .book__content { 
  padding: 12px;
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
}
.book:hover { 
  border-radius: 6px; 
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}
.book__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1060px) {
  .books { grid-template-columns: repeat(auto-fill, minmax(23%, 1fr)); }
  /* .book .book__img { height: 180px; } */
}
@media (max-width: 860px) {
  .books { grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); }
  /* .book .book__img { height: 160px; } */
}
@media (max-width: 600px) {
  .books { grid-template-columns: repeat(auto-fill, minmax(48%, 1fr)); }
  /* .book .book__img { height: 140px; } */
}